* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: brown;
    padding: 1em;
}

#logo-header{
    width: 12%;
    border-radius: 1em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content:;
}

#banner {
    width: 70%;
    border-radius: 10em 2em 10em 2em;
    margin-top: 5em;
    margin-left: 5em;
}

.form {
    margin-right: 5em;
    margin-top: 5em;
    background-color: brown 10;
    border-radius: 5px;
}



footer {
    background-color: rgb(236, 155, 105);
}