* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: yellow;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 20vw;
}

.menu-lateral {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.header-menu {
    font-weight: bold;
}

main {
    display: flex;
    width: 100vw;
    /* border: solid black; utilizamos apenas para demarcar o container main*/
}

.catalogo {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.catalogo div {
    padding: 10px;
    background-color: white;
}

.catalogo div p {
    margin-top: 5px;
}